@use "assets/scss/bootstrap" as bootstrap;
@use "assets/scss/dragAndDrop";


.tool-textarea {
  font-family: var(--bs-font-monospace), monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-primary-border-subtle);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.1);
  }
}


